<app-modal *ngIf="isModalVisible" [heading]="heading" (onHide)="handleHide()">
  <div *ngIf="!!(isSaved && task)" class="task-modal">
    <div class="task-modal__fields">
      <div class="task-modal__fields_item">
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['title'] }}</div>
        {{ task.title }}
      </div>
      <div class="task-modal__fields_item">
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['description'] }}</div>
        {{ task.description }}
      </div>
      <div class="task-modal__fields_item">
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['content'] }}</div>
        {{ task.content }}
      </div>
      <div class="task-modal__fields_item">
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['status'] }}</div>
        <app-status
          [status]="task.status"
          [content]="statusName"
        ></app-status>
      </div>
    </div>
    <div class="task-modal__actions">
      <button class="task-modal__actions_button-primary" custom-button [kind]="'primary'" [vertSize]="48" (click)="handleChangeIsSaved()">
        Редактировать
      </button>
      <button *ngIf="task" class="task-modal__actions_button-secondary" custom-button [kind]="'secondary'" [vertSize]="48" (click)="handleHide()">
        Назад
      </button>
    </div>
  </div>
  <form *ngIf="!(isSaved && task)" [formGroup]="form" class="task-modal">
    <div class="task-modal__fields">
      <div class="task-modal__fields_item">
        <div custom-error *ngIf="getFieldError('title')">{{getFieldErrorText('title')}}</div>
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['title'] }}</div>
        <input custom-field [error]="getFieldError('title')" formControlName="title" [placeholder]="FIELD_NAMES['title']" />
      </div>
      <div class="task-modal__fields_item">
        <div custom-error *ngIf="getFieldError('description')">{{getFieldErrorText('description')}}</div>
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['description'] }}</div>
        <textarea custom-field [error]="getFieldError('description')" formControlName="description" [placeholder]="FIELD_NAMES['description']"></textarea>
      </div>
      <div class="task-modal__fields_item">
        <div custom-error *ngIf="getFieldError('content')">{{getFieldErrorText('content')}}</div>
        <div class="task-modal__fields_item-title">{{ FIELD_NAMES['content'] }}</div>
        <textarea custom-field [error]="getFieldError('content')" formControlName="content" [placeholder]="FIELD_NAMES['content']"></textarea>
      </div>
      <div *ngIf="form.controls['status']" class="task-modal__fields_item">
        <div custom-error *ngIf="getFieldError('status')">{{getFieldErrorText('status')}}</div>
        <div custom-error *ngIf="getFieldError('content')">{{getFieldErrorText('status')}}</div>
        <select custom-field [vertSize]="40" [error]="getFieldError('status')" formControlName="status">
          <option value="null" disabled>Выберите {{ FIELD_NAMES['status'].toLowerCase() }}</option>
          <option
            *ngFor="let status of statuses"
            [value]="status.value"
          >
            {{ status.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="task-modal__actions">
      <button class="task-modal__actions_button-primary" custom-button [kind]="'primary'" [vertSize]="48" (click)="handleSave()">
        {{ task ? 'Обновить' : 'Создать' }}
      </button>
      <button *ngIf="task" class="task-modal__actions_button-secondary" custom-button [kind]="'secondary'" [vertSize]="48" (click)="handleChangeIsSaved()">
        Отменить
      </button>
    </div>
  </form>
</app-modal>