<div class="main-page__header">
  <h1 class="main-page__header_text">Информация о задачах</h1>
</div>
<div *ngIf="!tasks">Загрузка...</div>
<div *ngIf="!!tasks">
  <div *ngIf="!tasks.list.length" class="main-page__tasks-empty">
    У вас нет ни одной задачи. Перейдите в раздел <a routerLink="tasks" class="main-page__tasks-empty_link">задачи</a> чтобы создать.
  </div>
  <div *ngIf="!!tasks.list.length" class="main-page__tasks">
    <div
      class="main-page__tasks_tasks-graph"
      style="--tasks-count: '{{ tasks.list.length }}'; --created-percent: {{ (tasks.created.length / tasks.list.length) * 100 }}%; --progress-percent: {{ (tasks.progress.length / tasks.list.length) * 100 }}%; --paused-percent: {{ (tasks.paused.length / tasks.list.length) * 100 }}%; --done-percent: {{ (tasks.done.length / tasks.list.length) * 100 }}%; --canceled-percent: {{ (tasks.canceled.length / tasks.list.length) * 100 }}%;"
    >
    </div>
    <div class="main-page__tasks_info">
      <div class="main-page__tasks_info-label">Всего задач: {{ tasks.list.length }}</div>
      <div class="main-page__task-status">
        <app-status
          status="{{ statuses.CREATED }}"
          content="(открыто): {{ tasks.created.length }}"
        ></app-status>
      </div>
      <div class="main-page__task-status">
        <app-status
          status="{{ statuses.PROGRESS }}"
          content="(в процессе): {{ tasks.progress.length }}"
        ></app-status>
      </div>
      <div class="main-page__task-status">
        <app-status
          status="{{ statuses.PAUSED }}"
          content="(на паузе): {{ tasks.paused.length }}"
        ></app-status>
      </div>
      <div class="main-page__task-status">
        <app-status
          status="{{ statuses.DONE }}"
          content="(выполнено): {{ tasks.done.length }}"
        ></app-status>
      </div>
      <div class="main-page__task-status">
        <app-status
          status="{{ statuses.CANCELED }}"
          content="(отменено): {{ tasks.canceled.length }}"
        ></app-status>
      </div>
    </div>
  </div>
</div>
